doctype 5
html(lang="en")
    head
        title Simple Web App
        link(href='styles/main.css', type="text/css", rel="stylesheet")
    body
        h1 List of chart examples
        ul
          li
            a(href='views/balance.html') balance
          li
            a(href='views/income_expenses.html') income and expenses